<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save wallpapers to your Photos library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs permission to access your Photos library to save wallpapers.</string>
</dict>
</plist>